@import "global-vars";
@media(max-width: 1440px) and (min-width: 1161px) {
    .intro-section {
        .content {
            .content-images {
                button {
                    display: flex;
                }
                .content-images-sponsors {
                    & > * {
                        &:nth-child(-n+1) {
                            display: none ;
                        }
                        margin-right: 60px ;
                        &:last-child {
                            margin-right: 0 ;
                        }
                    }
                }
            }
        }
    }
    .how-work-section {
        .content-container {
            .content-image {
                img {
                    width: 90% ;
                }
            }
            .content-text {
                max-width: 450px ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-cards-group {
                    .content-card {
                        .content-card-text {
                            max-width: 310px;
                        }
                    }
                }
            }
        }
    }
    .future-investment-section {
        .content-container {
            .content-image {
                img {
                    width: 90% ;
                }
            }
            .content-text {
                max-width: 450px ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-dropdown-group {
                    .content-dropdown {
                        span {
                            font-size: 18px ;
                        }
                    }
                }
            }
        }
    }
    .why-choose-section {
        .content-container {
            .content-text {
                margin-right: 24px ;
            }
        }
    }
    .customers-section {
        .content {
            .content-cards-group {
                .content-card {
                    img {
                        width: 40% ;
                    }
                    .content-card-text {
                        p {
                            font-size: 16px ;
                        }
                    }
                }
            }
        }
    }
    .main-footer {
        .content-container {
            .content-actions {
                max-width: 335px ;
            }
            .content-links-group {
                & > * {
                    margin-right: 24px ;
                    &:last-child {
                        margin-right: 0 ;
                    }
                }
            }
        }
    }
}

@media(max-width: 1160px) and (min-width: 940px) {
    .main-header {
        .content-container {
            .main-header-logo {
                a {
                    padding-right: 20px ;
                }
            }
            form {
                & > * {
                    margin-right: 8px ;
                    &:last-child {
                        margin-right: 0 ;
                    }
                }
                a.btn {
                    padding-left: 24px ;
                    padding-right: 24px ;
                }
            }
        }
    }
    .intro-section {
        .content {
            .content-images {
                button {
                    display: flex ;
                }
                .content-images-sponsors {
                    & > * {
                        &:nth-child(-n+2) {
                            display: none ;
                        }
                        margin-right: 60px ;
                        &:last-child {
                            margin-right: 0 ;
                        }
                    }
                }
            }
        }
    }
    .how-work-section {
        .content-container {
            .content-image {
                padding-top: 20px ;
                align-items: flex-start ;
                img {
                    width: 90% ;
                }
            }
            .content-text {
                max-width: 385px ;
                margin-right: 24px ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-cards-group {
                    .content-card {
                        flex-direction: column;
                        & > * {
                            margin-right: 0 ;
                        }
                        .content-card-text {
                            margin-top: 12px ;
                            max-width: 310px ;
                        }
                    }
                }
            }
        }
    }
    .future-investment-section {
        .content-container {
            & > * {
                margin-right: 0 ;
            }
            .content-image {
                padding-top: 20px ;
                align-items: flex-start ;
                margin-right: 24px ;
                img {
                    width: 90% ;
                }
            }
            .content-text {
                max-width: 400px ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-dropdown-group {
                    .content-dropdown {
                        span {
                            font-size: 16px ;
                        }
                    }
                    .dropdown-text {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .why-choose-section {
        .content-container {
            .content-text {
                margin-right: 24px ;
                max-width: 400px ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-cards-group {
                    .content-card {
                        .content-card-number {
                            margin-right: 24px ;
                        }
                    }
                }
            }
        }
    }
    .customers-section {
        .content {
            h2 {
                font-size: 55px ;
                line-height: 65px ;
            }
            .content-cards-group {
                .content-card {
                    img {
                        width: 40% ;
                    }
                    .content-card-text {
                        padding: 16px ;
                        p {
                            font-size: 14px ;
                            margin-bottom: 12px ;
                            line-height: 24px ;
                        }
                    }
                }
            }
        }
    }
    .main-footer {
        .content-container {
            flex-wrap: wrap;
            & > * {
                display: inline-block ;
                width: calc(100% / 2 - 24px) ;
                margin-right: 24px;
                &:last-child {
                    margin-right: 0 ;
                }
            }
            .content-text {
                width: 100% ;
                margin-right: 0 ;
                margin-bottom: 24px ;
                p {
                    max-width: none ;
                }
            }
            .content-actions {
                max-width: 335px ;
                form {
                    .form-container {
                        .form-control {
                            padding-left: 5px ;
                            padding-right: 5px ;
                            width: 150px ;
                            &::placeholder {
                                font-size: 17px ;
                            }
                        }
                    }
                }
            }
            .content-links-group {
                & > * {
                    margin-right: 0 ;
                    margin-bottom: 24px;
                    &:last-child {
                        margin-bottom: 0 ;
                    }
                }
            }
        }
    }
}

@media(max-width: 939px) and (min-width: 768px) {
    .main-header {
        .content-container {
            .main-header-logo {
                a {
                    padding-right: 20px ;
                }
            }
            form,
            nav {
               display: none;
            }
            .mobile-logo {
                display: block ;
            }
        }
    }
    .intro-section {
        .content {
            .content-images {
                button {
                    display: flex ;
                }
                .content-images-sponsors {
                    & > * {
                        &:nth-child(-n+3) {
                            display: none ;
                        }
                        margin-right: 50px ;
                        &:last-child {
                            margin-right: 0 ;
                        }
                    }
                }
            }
        }
        .position-dod {
            top: 66% ;
        }
    }
    .how-work-section {
        .content-container {
            flex-direction: column;
            & > * {
                margin-right: 0 ;
            }
            .content-image {
                padding: 20px ;
                width: auto ;
                img {
                    width: 100% ;
                }
            }
            .content-text {
                max-width: none ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-cards-group {
                    
                    .content-card {
                        display: inline-block ;
                        & > * {
                            margin-right: 0 ;
                        }
                        .content-card-text {
                            margin-top: 12px ;
                            max-width: 310px ;
                        }
                    }
                    & > * {
                        width: calc(100% / 2 - 16px) ;
                        margin-right: 24px ;
                        &:nth-child(even) {
                            margin-right: 0 ;
                        }
                    }
                }
            }
        }
    }
    .future-investment-section {
        .content-container {
            flex-direction: column;
            & > * {
                margin-right: 0 ;
            }
            .content-image {
                order: 2;
                width: auto ;
                padding: 20px ;
                img {
                    width: 100% ;
                }
            }
            .content-text {
                max-width: none ;
                margin-bottom: 24px ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-dropdown-group {
                    .content-dropdown {
                        span {
                            font-size: 16px ;
                        }
                    }
                    .dropdown-text {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .why-choose-section {
        .content-container {
            flex-direction: column;
            .content-text {
                margin-right: 0 ;
                margin-bottom: 24px ;
                max-width: none ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-cards-group {
                    display: flex ;
                    align-items: center ;
                    flex-wrap: wrap;
                    & > * {
                        width: calc(100% / 2 - 16px) ;
                        margin-right: 24px ;
                        &:nth-child(even) {
                            margin-right: 0 ;
                        }
                    }
                    .content-card {
                        .content-card-number {
                            margin-right: 24px ;
                        }
                    }
                }
            }
        }
    }
    .customers-section {
        .content {
            h2 {
                font-size: 55px ;
                line-height: 65px ;
            }
            .content-cards-group {
                flex-direction: column;
                & > * {
                    margin-right: 0 ;
                }
                .content-card {
                    img {
                        width: 40% ;
                    }
                    .content-card-text {
                        padding: 16px ;
                        p {
                            font-size: 18px ;
                            margin-bottom: 12px ;
                        }
                    }
                }
            }
        }
    }
    .apps-section {
        .content {
            h2 {
                font-size: 45px ;
                line-height: 55px ;
            }
        }
    }
    .main-footer {
        .content-container {
            flex-wrap: wrap;
            & > * {
                display: inline-block ;
                width: calc(100% / 2 - 24px) ;
                margin-right: 24px;
                &:last-child {
                    margin-right: 0 ;
                }
            }
            .content-text {
                width: 100% ;
                margin-right: 0 ;
                margin-bottom: 24px ;
                p {
                    max-width: none ;
                }
            }
            .content-actions {
                max-width: 335px ;
                form {
                    .form-container {
                        .form-control {
                            padding-left: 5px ;
                            padding-right: 5px ;
                            width: 150px ;
                            &::placeholder {
                                font-size: 16px ;
                            }
                        }
                    }
                }
            }
            .content-links-group {
                & > * {
                    margin-right: 0 ;
                    margin-bottom: 24px;
                    &:last-child {
                        margin-bottom: 0 ;
                    }
                }
            }
        }
        .content-author {
            flex-direction: column;
            align-items: flex-start ;
            p {
                margin-bottom: 12px ;
            }
        }
    }
}

@media(max-width: 767px) and (min-width: 540px) {
    .main-header {
        .content-container {
            .main-header-logo {
                a {
                    padding-right: 20px ;
                }
            }
            form,
            nav {
                display: none;
            }
            .mobile-logo {
                display: block ;
            }
        }
    }
    .intro-section {
        .content {
            .content-images {
                button {
                    display: flex ;
                }
                .content-images-sponsors {
                    & > * {
                        &:nth-child(-n+4) {
                            display: none ;
                        }
                        margin-right: 0 ;
                    }
                }
            }
        }
        .position-star {
            top: 72% ;
        }
        .position-dod {
            top: 75% ;
        }
    }
    .how-work-section {
        .content-container {
            flex-direction: column;
            & > * {
                margin-right: 0 ;
            }
            .content-image {
                overflow: hidden ;
                padding: 20px ;
                width: auto ;
                img {
                    width: 100% ;
                }
            }
            .content-text {
                max-width: none ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-cards-group {
                    .content-card {
                        display: inline-block ;
                        & > * {
                            margin-right: 0 ;
                        }
                        .content-card-text {
                            margin-top: 12px ;
                            max-width: 310px ;
                        }
                    }
                    & > * {
                        vertical-align: top;
                        width: calc(100% / 2 - 16px) ;
                        margin-right: 24px ;
                        &:nth-child(even) {
                            margin-right: 0 ;
                        }
                    }
                }
            }
        }
    }
    .future-investment-section {
        .content-container {
            flex-direction: column;
            & > * {
                margin-right: 0 ;
            }
            .content-image {
                overflow: hidden ;
                order: 2;
                width: auto ;
                padding: 20px ;
                img {
                    width: 100% ;
                }
            }
            .content-text {
                max-width: none ;
                margin-bottom: 24px ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-dropdown-group {
                    .content-dropdown {
                        span {
                            font-size: 16px ;
                        }
                    }
                    .dropdown-text {
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .why-choose-section {
        .content-container {
            flex-direction: column;
            .content-text {
                margin-right: 0 ;
                margin-bottom: 24px ;
                max-width: none ;
                h2 {
                    font-size: 55px ;
                    line-height: 65px ;
                }
                .content-cards-group {
                    display: flex ;
                    align-items: center ;
                    flex-wrap: wrap;
                    & > * {
                        width: calc(100% / 2 - 16px) ;
                        margin-right: 24px ;
                        &:nth-child(even) {
                            margin-right: 0 ;
                        }
                    }
                    .content-card {
                        
                        .content-card-number {
                            margin-right: 12px ;
                        }
                        p {
                            font-size: 16px ;
                        }
                    }
                }
            }
        }
    }
    .customers-section {
        .content {
            h2 {
                font-size: 55px ;
                line-height: 65px ;
            }
            .content-cards-group {
                flex-direction: column;
                & > * {
                    margin-right: 0 ;
                }
                .content-card {
                    img {
                        width: 40% ;
                    }
                    .content-card-text {
                        padding: 16px ;
                        p {
                            font-size: 18px ;
                            margin-bottom: 12px ;
                        }
                    }
                }
            }
        }
    }
    .apps-section {
        .content {
            h2 {
                font-size: 45px ;
                line-height: 55px ;
            }
        }
    }
    .main-footer {
        .content-container {
            flex-wrap: wrap;
            .content-text {
                width: 100% ;
                margin-right: 0 ;
                margin-bottom: 24px ;
                p {
                    max-width: none ;
                }
            }
            .content-actions {
                max-width: none ;
                margin-bottom: 24px ;
                form {
                    .form-container {
                        .form-control {
                            &::placeholder {
                                font-size: 16px ;
                            }
                        }
                    }
                }
            }
            .content-links-group {
                & > * {
                    margin-right: 24px ;
                    &:last-child {
                        margin-right: 24px ;
                    }
                }
            }
        }
        .content-author {
            flex-direction: column;
            align-items: flex-start ;
            p {
                margin-bottom: 12px ;
            }
        }
    }
    .swiper {
        .slider-container {
            a {
                svg {
                    width: 150px;
                    height: 60px;
                }
            }
        }
    }
}

@media(max-width: 539px) and (min-width: 380px) {
    main {
        .main-position-item {
            left: -50%;
        }
    }
    .main-header {
        .content-container {
            .main-header-logo {
                a {
                    padding-right: 20px ;
                }
            }
            form,
            nav {
                display: none;
            }
            .mobile-logo {
                display: block ;
            }
        }
    }
    .intro-section {
        padding-bottom: 50px ;
        .content {
            h1 {
                font-size: 48px;
                line-height: 58px;
            }
            form {
                .form-container {
                    .form-control {
                        width: 100% ;
                    }
                }
                button {
                    padding: 12px ;
                }
            }
            .content-images {
                button {
                    display: flex ;
                }
                .content-images-sponsors {
                    & > * {
                        &:nth-child(-n+4) {
                            display: none ;
                        }
                        margin-right: 0 ;
                    }
                }
            }
        }
        .position-currency {
            left: 2% ;
        }
        .position-star {
            top: 74% ;
        }
        .position-dod {
            top: 75% ;
        }
    }
    .how-work-section {
        padding: 50px 0 ;
        .content-container {
            flex-direction: column;
            & > * {
                margin-right: 0 ;
            }
            .content-image {
                margin-top: 24px ;
                overflow: hidden ;
                padding: 20px ;
                width: auto ;
                img {
                    width: 100% ;
                }
            }
            .content-text {
                max-width: none ;
                h2 {
                    font-size: 38px ;
                    line-height: 48px ;
                }
                .content-cards-group {
                    & > * {
                        width: 100% ;
                    }
                    .content-card {
                        justify-content: space-between;
                        & > * {
                            margin-right: 0 ;
                        }
                        .content-box {
                            width: 80px ;
                            height: 80px ;
                        }
                        .content-card-text {
                            margin-top: 12px ;
                            max-width: 300px ;
                            p {
                                font-size: 16px ;
                            }
                        }
                    }
                }
            }
        }
    }
    .future-investment-section {
        padding: 50px 0 ;
        .content-container {
            flex-direction: column;
            & > * {
                margin-right: 0 ;
            }
            .content-image {
                overflow: hidden ;
                order: 2;
                width: auto ;
                padding: 20px ;
                img {
                    width: 100% ;
                }
            }
            .content-text {
                max-width: none ;
                margin-bottom: 24px ;
                h2 {
                    font-size: 38px ;
                    line-height: 48px ;
                }
                .content-dropdown-group {
                    .content-dropdown {
                        span {
                            font-size: 14px ;
                            line-height: 20px ;
                        }
                    }
                    .dropdown-text {
                        p {
                            font-size: 14px;
                            line-height: 20px;
    
                        }
                    }
                }
            }
        }
    }
    .why-choose-section {
        padding: 50px 0 ;
        .content-container {
            flex-direction: column;
            .content-text {
                margin-right: 0 ;
                margin-bottom: 24px ;
                max-width: none ;
                h2 {
                    font-size: 38px ;
                    line-height: 48px ;
                }
                .content-cards-group {
                    .content-card {
                        margin-bottom: 24px ;
                        .content-card-number {
                            margin-right: 12px ;
                        }
                        p {
                            font-size: 16px ;
                        }
                    }
                }
            }
        }
    }
    .customers-section {
        padding: 50px 0 ;
        .content {
            h2 {
                font-size: 38px ;
                line-height: 48px ;
            }
            .content-cards-group {
                flex-direction: column;
                & > * {
                    margin-right: 0 ;
                }
                .content-card {
                    img {
                        display: none;
                    }
                    .content-card-text {
                        padding: 16px ;
                        p {
                            font-size: 18px ;
                            margin-bottom: 12px ;
                        }
                    }
                }
            }
        }
    }
    .apps-section {
        padding: 50px 0 ;
        .content {
            padding-right: 20px ;
            padding-left: 20px ;
            h2 {
                font-size: 32px ;
                line-height: 42px ;
            }
            .content-links-group {
                flex-direction: column;
                & > * {
                    margin-right: 0 ;
                    margin-bottom: 24px ;
                    &:last-child {
                        margin-bottom: 0 ;
                    }
                }
            }
        }
    }
    .main-footer {
        padding-top: 50px ;
        .content-container {
            flex-wrap: wrap;
            padding: 50px 0 ;
            .content-text {
                width: 100% ;
                margin-right: 0 ;
                margin-bottom: 24px ;
                p {
                    max-width: none ;
                }
            }
            .content-actions {
                max-width: none ;
                margin-bottom: 24px ;
                form {
                    flex-direction: column;
                    align-items: flex-start ;
                    .form-container {
                        .form-control {
                            display: block ;
                            width: auto ;
                            padding: 5px ;
                            &::placeholder {
                                font-size: 16px ;
                            }
                        }
                    }
                    button {
                        margin-top: 12px ;
                        padding: 12px ;
                        width: 100%;
                    }
                }
            }
            .content-links-group {
                flex-wrap: wrap;
                & > * {
                    margin-bottom: 24px ;
                    &:last-child {
                        margin-bottom: 0 ;
                    }
                }
            }
        }
        .content-author {
            flex-direction: column;
            align-items: flex-start ;
            p {
                margin-bottom: 12px ;
            }
            nav {
                ul {
                    flex-wrap: wrap;
                    li {
                        margin-bottom: 12px ;
                    }
                }
            }
        }
    }
    .swiper {
        .slider-container {
            a {
                svg {
                    width: 150px;
                    height: 60px;
                }
            }
        }
    }
}

@media(max-width: 379px) and (min-width: 320px) {
    main {
        .main-position-item {
            left: -50%;
        }
    }
    .main-header {
        .content-container {
            .main-header-logo {
                a {
                    padding-right: 20px ;
                    font-size: 25px;
                }
            }
            form,
            nav {
                display: none;
            }
            .mobile-logo {
                display: block ;
            }
        }
    }
    .intro-section {
        padding-bottom: 50px ;
        .content {
            h1 {
                font-size: 28px;
                line-height: 32px;
            }
            form {
                flex-direction: column;
                align-items: flex-start ;
                width: 85% ;
                .form-container {
                    .form-control {
                        display: block ;
                        width: auto ;
                        padding: 5px ;
                        &::placeholder {
                            font-size: 16px ;
                        }
                    }
                }
                button {
                    margin-top: 12px ;
                    padding: 12px ;
                    font-size: 16px ;
                    width: 100%;
                }
            }
            .content-images {
                button {
                    display: flex ;
                    &.left-icon {
                        left: -25px;
                    }
                    &.right-icon {
                        right: -25px;
                    }
                }
                
                .content-images-sponsors {
                    & > * {
                        &:nth-child(-n+4) {
                            display: none ;
                        }
                        margin-right: 0 ;
                    }
                }
            }
        }
        .position-currency {
            left: 2% ;
        }
        .position-star {
            top: 34% ;
            opacity: 0;
        }
        .position-dod {
            top: 66% ;
        }
        .position-star-solid,
        .position-bag {
            top: 75% ;
        }
    }
    .how-work-section {
        padding: 50px 0 ;
        .content-container {
            flex-direction: column;
            & > * {
                margin-right: 0 ;
            }
            .content-image {
                margin-top: 24px ;
                overflow: hidden ;
                padding: 20px ;
                width: auto ;
                img {
                    width: 100% ;
                }
            }
            .content-text {
                max-width: none ;
                h2 {
                    font-size: 38px ;
                    line-height: 48px ;
                }
                .content-cards-group {
                    & > * {
                        width: 100% ;
                    }
                    .content-box {
                        width: 80px ;
                        height: 80px ;
                    }
                    .content-card {
                        flex-direction: column;
                        & > * {
                            margin-right: 0 ;
                        }
                        .content-card-text {
                            margin-top: 12px ;
                            max-width: 310px ;
                        }
                    }
                }
            }
        }
    }
    .future-investment-section {
        padding: 50px 0 ;
        .content-container {
            flex-direction: column;
            & > * {
                margin-right: 0 ;
            }
            .content-image {
                overflow: hidden ;
                order: 2;
                width: auto ;
                padding: 20px ;
                img {
                    width: 100% ;
                }
            }
            .content-text {
                max-width: none ;
                margin-bottom: 24px ;
                h2 {
                    font-size: 38px ;
                    line-height: 48px ;
                }
                .content-dropdown-group {
                    .content-dropdown {
                        padding: 24px ;
                        position: relative;
                        span {
                            font-size: 14px ;
                            line-height: 20px ;
                        }
                        svg {
                        
                        }
                        &:last-child {
                            span {
                                max-width: 155px ;
                                text-align: start ;
                            }
                        }
                    }
                    .dropdown-text {
                        p {
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
    .why-choose-section {
        padding: 50px 0 ;
        .content-container {
            flex-direction: column;
            .content-text {
                margin-right: 0 ;
                margin-bottom: 24px ;
                max-width: none ;
                h2 {
                    font-size: 38px ;
                    line-height: 48px ;
                }
                .content-cards-group {
                    .content-card {
                        margin-bottom: 24px ;
                        .content-card-number {
                            margin-right: 12px ;
                        }
                        a {
                            font-size: 14px ;
                        }
                    }
                }
            }
        }
    }
    .customers-section {
        padding: 50px 0 ;
        .content {
            h2 {
                font-size: 38px ;
                line-height: 48px ;
            }
            .content-cards-group {
                flex-direction: column;
                & > * {
                    margin-right: 0 ;
                }
                .content-card {
                    img {
                        display: none;
                    }
                    .content-card-text {
                        padding: 16px ;
                        p {
                            font-size: 18px ;
                            margin-bottom: 12px ;
                        }
                    }
                }
            }
        }
    }
    .apps-section {
        .content {
            padding: 50px 30px;
            h2 {
                font-size: 32px ;
                line-height: 42px ;
            }
            .content-links-group {
                flex-direction: column;
                & > * {
                    margin-right: 0 ;
                    margin-bottom: 24px ;
                    &:last-child {
                        margin-bottom: 0 ;
                    }
                }
            }
        }
    }
    .main-footer {
        padding-top: 50px ;
        .content-container {
            flex-wrap: wrap;
            padding: 50px 0 ;
            .content-text {
                width: 100% ;
                margin-right: 0 ;
                margin-bottom: 24px ;
                p {
                    max-width: none ;
                    font-size: 16px ;
                }
            }
            .content-actions {
                max-width: none ;
                margin-bottom: 24px ;
                p {
                    font-size: 16px ;
                }
                form {
                    flex-direction: column;
                    align-items: flex-start ;
                    width: 85% ;
                    .form-container {
                        .form-control {
                            display: block ;
                            width: auto ;
                            padding: 5px ;
                            &::placeholder {
                                font-size: 16px ;
                            }
                        }
                    }
                    button {
                        margin-top: 12px ;
                        padding: 12px ;
                        width: 100%;
                    }
                }
            }
            .content-links-group {
                flex-wrap: wrap;
                & > * {
                    margin-bottom: 24px ;
                    &:last-child {
                        margin-bottom: 0 ;
                    }
                }
            }
        }
        .content-author {
            flex-direction: column;
            align-items: flex-start ;
            p {
                margin-bottom: 12px ;
            }
            nav {
                ul {
                    flex-wrap: wrap;
                    li {
                        margin-bottom: 12px ;
                        &:last-child {
                            margin-bottom: 0 ;
                        }
                    }
                }
            }
        }
    }
    .swiper {
        .slider-container {
            a {
                svg {
                    width: 150px;
                    height: 60px;
                }
            }
        }
    }
}
