$ff-spartan: 'Spartan', sans-serif;
$ff-lato: 'Lato', sans-serif;
$ff-roboto: 'Roboto', sans-serif;
$dark: #263238;
$success: #008000;
$gray: #93999B;
$white: #ffffff;
$hoverSuccess: #389338;
$smoke: #313C42;
$darkSuccess: #223A32;
$lightDark: rgba(38, 50, 56, 0.1);
$lightSuccess: #E6F2E6;
$spacer-xs: 16px;
$spacer-sm: 24px;
$spacer-md: 32px;
$spacer-lg: 48px;
$transition: 500ms;

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: $lightSuccess;
}
::-webkit-scrollbar-thumb {
    background: $success;
}
@mixin ulList {
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
    }
}
@mixin tLatoRegular18 {
    font-family: $ff-lato;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tLatoMedium18 {
    font-family: $ff-lato;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanLight12 {
    font-family: $ff-spartan;
    font-weight: 300;
    font-size: 12px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanRegular14 {
    font-family: $ff-spartan;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanRegular16 {
    font-family: $ff-spartan;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanRegular18 {
    font-family: $ff-spartan;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanRegular24 {
    font-family: $ff-spartan;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanMedium18 {
    font-family: $ff-spartan;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanMedium20 {
    font-family: $ff-spartan;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanMedium22 {
    font-family: $ff-spartan;
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanBold16 {
    font-family: $ff-spartan;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanSemiBold18px {
    font-family: $ff-spartan;
    font-weight: 600;
    font-size: 18px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanBold20 {
    font-family: $ff-spartan;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    color: $dark;
    transition: $transition;
}
@mixin tSpartanBold36 {
    font-family: $ff-spartan;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: $dark;
    transition: $transition ;
}
@mixin tSpartanBold70 {
    font-family: $ff-spartan;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    color: $dark;
    span {
        font-family: $ff-lato;
        color: $success;
    }
}

@keyframes kspinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
